plugins:
  - 
    - "@semantic-release/commit-analyzer"
    - releaseRules:
      - breaking: true
        release: major
      - revert: true
        release: patch
      - type: feat
        release: minor
      - type: fix
        release: patch
      - type: perf
        release: patch
      - type: chore
        release: patch
      - type: refactor
        release: patch
      - type: tweak
        release: patch
      - release: patch
  - "@semantic-release/release-notes-generator"
  -
    - "@semantic-release/github"
    - assets:
      - label: terraform-provider-paperspace-darwin-amd64
        path: build/terraform-provider-paperspace-darwin-amd64
      - label: terraform-provider-paperspace-darwin-arm64
        path: build/terraform-provider-paperspace-darwin-arm64
      - label: terraform-provider-paperspace-linux-amd64
        path: build/terraform-provider-paperspace-linux-amd64
      - label: terraform-provider-paperspace-windows-amd64.exe
        path: build/terraform-provider-paperspace-windows-amd64.exe

